/* Declare common fonts, common colors, and common CSS variables. */
@import "./base.css";

.layout {
  display: flex;
  min-height: 100vh;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

main {
  flex: 1;
  padding: 10px;
}

/* ****************************************************************************
 *                             PRIMEVUE :DEEP OVERRIDE
 *                  Custom Focus Style / Remove Default Theme Border
 * ************************************************************************** */

/* ================================ Button Styles ================================ */
.p-button.action-btn {
  min-width: 130px;
  height: 38px;

  font-size: 18px;
}

.p-button.primary-btn {
  background: #2f73c9 !important;
  border: none !important;
}

.p-button.primary-btn:hover {
  background: #2f73c9 !important;
  border: none !important;
  opacity: 0.9;
}

.p-button.secondary-btn {
  background: #7a838d !important;
  border: none !important;
}

.p-button.secondary-btn:hover {
  background: #7a838d !important;
  border: none !important;
  opacity: 0.9;
}

/* ================================ Button Styles ================================ */

/* ================================ Dialog Styles ================================ */
.p-dialog .p-dialog-header {
  border-bottom: 1px solid #dee2e6;
  height: 50px;
}
.p-dialog .p-dialog-title {
  font-weight: 400 !important;
  color: #000;
}

/* ================================ Dialog Styles ================================ */

/* ================================ Text input Styles ================================ */
.p-inputtext {
  border: 2px solid grey !important;
  border-radius: 6px !important;
  box-sizing: border-box;
}

.p-inputtext:enabled:focus,
.p-inputtext.p-focus {
  background: #f6e7a8 !important;
  border: 2px solid grey !important;
  border-bottom-color: #2f73c9 !important;
  outline: none !important;
  box-shadow: none !important;
}

/* ================================ Text input Styles ================================ */

/* ****************************************************************************
 *                             PRIMEVUE :DEEP OVERRIDE
 *                  Custom Focus Style / Remove Default Theme Border
 * ************************************************************************** */
